# top-most EditorConfig file
root = true

# Set the following properties for all files:
[*]
end_of_line = lf
indent_size = 2
indent_style = space
insert_final_newline = true
trim_trailing_whitespace = true

[Makefile]
indent_style = tab

[.py, .cpp]
max_line_length = 80
